.header {
  grid-area: h;
  /* background: #000000; */
  color: #ffff;
  height: 60px;
  padding: 10px, 5px;
  font-size: 14px;
  font-family: cursive;

}

.t{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

img{
  padding: 5px;
}

h2 {
  margin-top: 25px;
  margin-left: -12px;
}

